@{
    ViewData["Title"] = "About";
    Layout = "_Layout";
}

<h2 style="color:white">About us:</h2>

<br />
<h4 style="color:white">
    This project is created for <b>educational purposes</b>. It's purpose is allowing users to register sensors to already existing sensor systems.<br />
    This will allow them to monitor the sensor reading real-time and get notified if a sensor sends data outside the predefined by the user criteria.
</h4>
<br />
<h4 style="color:white">
    Users can see reports with more detailed information about the Sensor such as:
</h4>
<ul style="color:white">
    <li>Location</li>
    <li>Min/Max acceptable values</li>
    <li>Update Interval</li>
</ul>


<h4 style="color:white">
    Admins have the following access:
</h4>
<ul style="color:white">
    <li>Manage sensors - Register and modify other user's sensors</li>
    <li>Manage user - Change user details and assign roles.</li>
    <li>Manage base sensors - See detailed information for the available sensor options.</li>
</ul>

<h3 style="color:white" align="center">
    Contributors:
</h3>
<br />
<div align="center">  
    <div class="col-lg-6" style="color:white">
        <div class="card text-white bg-secondary mb-3" style="max-width: 40rem; color:white">
            <div class="card-header"><h3>Ioan Stavrev</h3></div>
            <div class="card-body">
                <h4 class="card-title"><a style="color:white" href="https://github.com/jstavrev">Github</a></h4>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card text-white bg-secondary mb-3" style="max-width: 40rem; color:white">
            <div class="card-header"><h3>Alexander Stoychev</h3></div>
            <div class="card-body">
                <h4 class="card-title"><a style="color:white" href="https://github.com/stoychev92">Github</a></h4>
            </div>
        </div>
    </div>
</div>