@model UserIndexViewModel
@{
    ViewData["Title"] = "Index";
}
<h2>Users Administration</h2>

<div class="card card-plain">
    <div class="card-body">
        <div class="table-responsive">
            @await Html.PartialAsync("_UserTablePartial", Model.Table)
        </div>
    </div>
</div>

