@model UserTableViewModel
@{
    ViewData["Title"] = "Index";
}
<h2 style="color: white" align="center">User Administration</h2>

<div>
    @await Html.PartialAsync("_UserTablePartial", Model)
</div>

