
@{
    ViewData["Title"] = "PageNotFound";
    Layout = null;
}

<html>
<head>
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link href="~/css/StateIndicator.css" rel="stylesheet" />

    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <link href="~/css/StateIndicator.css" rel="stylesheet" />
    </environment>
    <style>
        body {
            padding-top: 50px;
            padding-bottom: 20px;
            background: url(/images/404.jpg);
            /*padding-top: 0px;*/
            background-size: cover;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
        div.test {
            position: absolute;
            width: 50%;
            bottom: 90px;
            right:50px;
        }
    </style>
</head>
<body>
    <div class="test">
        <a href="/" class="btn btn-primary btn-lg">Go back Home</a>
        </div>
</body>
</html>