@model RegisterSensorViewModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="col-lg-6">
    <label asp-for="MinValue">Minimum Value:</label>
    <input name="minValue" id="minValue" asp-for="MinValue" class="form-control" />
</div>

<div class="col-lg-6">
    <label asp-for="MaxValue">Maximum Value:</label>
    <input name="maxValue" id="maxValue" asp-for="MaxValue" class="form-control" />
</div>