@model SensorIndexViewModel
@{
    ViewData["Title"] = "Index";
}
<h2 style="color: white" align="center">Sensor Administration</h2>
<div>
    @await Html.PartialAsync("_SensorTablePartial", Model.Table)
</div>
