@model RegisterSensorViewModel
@{
    ViewData["Title"] = "Sensor Details";
    Layout = "_Layout";
}

<br /> <br />
<h2>Register Sensor to User</h2>

<div class="row">
    <div class="col-lg-6">
        <form asp-controller="Sensor" asp-action="Register" id="register-form" method="post">

            <input type="hidden" value="@ViewBag.sensorId">
            <input type="hidden" value="@ViewBag.userId">


            <label asp-for="Name">Name:</label><br />
            <input name="name" asp-for="Name" class="form-control" required maxlength="50" minlength="3"/><br />
            <span asp-validation-for="Name" class="text-danger"></span>

            <label asp-for="Description">Description:</label><br />
            <textarea name="description" asp-for="Description" class="form-control"  maxlength="250" minlength="3"></textarea><br />
            <span asp-validation-for="Description" class="text-danger"></span>

            <br />

            <label asp-for="UpdateInterval">Update Interval:</label><br />
            <input name="updateInterval" asp-for="UpdateInterval" class="form-control" required/><br />
            <span asp-validation-for="UpdateInterval" class="text-danger"></span>
            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="MinValue">Min Value</label>
                    <input asp-for="MinValue" type="number" value="MinValue" class="form-control" required>
                    <span asp-validation-for="MinValue" class="text-danger"></span>
                </div>

                <div class="form-group col-md-6">
                    <label asp-for="MaxValue">Max Value</label>
                    <input asp-for="MaxValue" type="number" value="MaxValue" class="form-control" required>
                    <span asp-validation-for="MaxValue" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="Latitude">Latitude</label>
                    <input name="Latitude" asp-for="Latitude" type="text" value="" class="form-control" id="latitude" placeholder="Select from map" readonly required>
                    <span asp-validation-for="Latitude" class="text-danger"></span>
                </div>

                <div class="form-group col-md-6">
                    <label asp-for="Longitude">Longtitude</label>
                    <input asp-for="Longitude" type="text" value="" class="form-control" id="longtitude" placeholder="Select from map" readonly required>
                    <span asp-validation-for="Longitude" class="text-danger"></span>
                </div>
            </div>

            <div class="row" id="validation" name="validation"></div>
            <br />
            <div class="row">
                <div class="col-lg-6 form-group">
                    <label class="" id="checkbox">
                        <input asp-for="IsPublic" type="checkbox" autocomplete="off">
                        <label asp-for="IsPublic">Public</label>
                        <span class="checkmark"></span>
                    </label>
                </div>

                <div class="col-lg-6 form-group">
                    <label class="" id="checkbox">
                        <input asp-for="IsRequiredNotification" type="checkbox" autocomplete="off">
                        <label asp-for="IsRequiredNotification">Notifications</label>
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div>
            <br />
            <button type="submit" class="btn btn-primary center-block">Register</button>
        </form>
    </div>

    <div class="col-lg-6">
        <br />
        <div>
            <div id="map"></div>
            <script>
                var map, marker;
                function initMap() {
                    map = new google.maps.Map(document.getElementById('map'), {
                        center: { lat: 42.694, lng: 23.312 },
                        zoom: 8
                    });
                    google.maps.event.addListener(map, 'click', function (event) {
                        if (marker) {
                            marker.setPosition(event.latLng)
                            $('#latitude').attr('value', marker.position.lat)
                            $('#longtitude').attr('value', marker.position.lng)
                        }
                        else {
                            marker = new google.maps.Marker({
                                position: event.latLng,
                                map: map,
                            });
                            marker.setAnimation(google.maps.Animation.BOUNCE);
                            $('#latitude').attr('value', marker.position.lat)
                            $('#longtitude').attr('value', marker.position.lng)
                        }
                    });
                }
            </script>
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCDteKY2bbicMlrP2DHSJmSciuIP-E_D6k&callback=initMap"
                    async defer></script>
        </div>
    </div>
</div>


<style>
    #map {
        height: 500px;
        width: 500px;
    }

    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }
</style>