/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

a.disabled {
    pointer-events: none;
}

.GaugeMeter {
    Position: Relative;
    Text-Align: Center;
    Overflow: Hidden;
    Cursor: Default;
}

    .GaugeMeter SPAN,
    .GaugeMeter B {
        Margin: 0 23%;
        Width: 54%;
        Position: Absolute;
        Text-align: Center;
        Display: Inline-Block;
        Color: RGBa(0,0,0,.8);
        Font-Weight: 100;
        Font-Family: "Open Sans", Arial;
        Overflow: Hidden;
        White-Space: NoWrap;
        Text-Overflow: Ellipsis;
    }

    .GaugeMeter[data-style="Semi"] B {
        Margin: 0 10%;
        Width: 80%;
    }

    .GaugeMeter S,
    .GaugeMeter U {
        Text-Decoration: None;
        Font-Size: .5em;
        Opacity: .5;
    }

    .GaugeMeter B {
        Color: Black;
        Font-Weight: 300;
        Font-Size: .5em;
        Opacity: .8;
    }

#inner {
    width: 99%;
    margin: 0 auto;
}

body {
    background: url(/images/bg.jpg);
    /*padding-top: 0px;*/
    background-size:cover;
    /*background-size: 100% 100%;*/
    background-repeat: no-repeat;
}

html, body {
    height: 100%;
}

.paddingGauge {
    padding-top: 9%;
}

.navbar {
    background-color: transparent;
    background: transparent;
    border-color: transparent;
}

#navigationBar .nav-link {
    color: white;
}

#navigationBar.scrolled {
    background-color: #e95420;
    transition: background-color 200ms linear;
}

#navigationBar.scrolled .nav-link {
    color: black;
}